<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="<%= asset_path "vendor/bootstrap/css/bootstrap.css" %>" type="text/css" rel="stylesheet" data-tubolinks-tracks="reload">
  <!-- Custom fonts for this template-->
  <link href="<%= asset_path "vendor/font-awesome/css/font-awesome.css" %>" type="text/css" rel="stylesheet" data-turbolinks-tracks="reload">
  <!-- Page level plugin CSS-->
  <link href="<%= asset_path "vendor/datatables/dataTables.bootstrap4.css" %>" type="text/css" rel="stylesheet" data-turbolinks-tracks="reload">
  <!-- Custom styles for this template-->
  <link href="<%= asset_path "css/sb-admin.css" %>" type="text/css" rel="stylesheet" data-turbolinks-tracks="reload">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>

  <div class="content-wrapper">

        <% flash.each do |name, msg| %>
          <% if msg.class == Array %>
            <% msg.each do |message| %>
                <%javascript_tag do %>
                  window.onload = function() {
                    setTimeout(function() {
                      toastr.options = {
                      closeButton: true,
                      progressBar: true,
                      showMethod: 'slideDown',
                      timeOut: 4000
                    };
                      toastr.success('<%=message%>');
                    }, 1300);
                  }
                <%end%>
              <%#= content_tag :div, message, :id => "flash_#{name}" %>
            <% end %>
          <% else %>
            <%=javascript_tag do %>
              window.onload = function() {
                setTimeout(function() {
                  toastr.options = {
                  closeButton: true,
                  progressBar: true,
                  showMethod: 'slideDown',
                  timeOut: 4000
                };
                  toastr.success('<%=msg%>');
                }, 1300);
              }
            <%end%>
          <%#= content_tag :div, msg, :id => "flash_#{name}" %>
          <% end %>
        <% end %>

  <%= yield %>
  
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">로그아웃 하시겠습니까?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
            <%= link_to('로그아웃', destroy_user_session_path, method: :delete, class: "btn btn-primary") %>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="<%= asset_path "vendor/jquery/jquery.min.js" %>"></script>
    <script type="text/javascript" src="<%= asset_path "vendor/bootstrap/js/bootstrap.bundle.min.js" %>"></script>
    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="<%= asset_path "vendor/jquery-easing/jquery.easing.min.js" %>"></script>
    <!-- Page level plugin JavaScript-->
    <script type="text/javascript" src="<%= asset_path "vendor/chart.js/Chart.min.js" %>"></script>
    <script type="text/javascript" src="<%= asset_path "vendor/datatables/jquery.dataTables.js" %>"></script>
    <script type="text/javascript" src="<%= asset_path "vendor/datatables/dataTables.bootstrap4.js" %>"></script>
    <!-- Custom scripts for all pages-->
    <script type="text/javascript" src="<%= asset_path "js/sb-admin.min.js" %>"></script>
    <!-- Custom scripts for this page-->
    <script type="text/javascript" src="<%= asset_path "js/sb-admin-datatables.min.js" %>"></script>
    <script type="text/javascript" src="<%= asset_path "js/sb-admin-charts.min.js" %>"></script>

  </div>
</body>

</html>
